p {
    margin: 6px;
    padding: 6px;
    border: 4px solid black;
    width: 200px;
    height: 200px;
    background-color:orange;
}
html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

.my-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 100px;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 10px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 5px solid #E38C1E;
}
